.body{
  margin: 0 auto;
  max-width: 900px;
}


main{
  max-width: 650px; /*もとは650px*/
  align-items: center;
}

.main_container{
  padding: 15px;
}

.main_inner{
  /* max-width: 650px; もとは650px   main でwidthについて書いているので不要*/
  margin: auto;
}


.question{
  font-size: 30px;
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
}

.question::after{
  content: '';
  position: absolute;
  left: 0%;
  bottom: -30px;/*線の上下位置*/
  display: inline-block;
  width: 200px;/*線の長さ*/
  height: 5px;/*線の太さ*/
  /* -webkit-transform: translateX(-50%);
  transform: translateX(-50%);位置調整 */

  background-color:	#00AB36;/*線の色*/
  
}
.option{
  font-size: 30px;
  border:solid #EBEBEB ;
  border-width: 1.5px;
  border-bottom-width: 3px;
  padding: 10px ;
  box-shadow: 0px 2px 3px  #EBEBEB;

}


.question_image_container{
  padding: 20px;
}
.queston_image{
  
}