html{
  font-size: 18px;
  height: 100vh;
}

body{
  background-color: #F5F5F8;
  max-width: 1500px;
  /* min-width: 970px; */
  /*↑仮*/
  height: 100%;
}

header{
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: white;
  box-shadow: 0px 0px 5px lightgray;
}

.header-left{
  padding-left: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-logo{
  height: 100%;
  padding: 18px 0px;
}

.header-logo img{
  height: 100%;
}

.week-count-wrapper{
  display: block;
}

.week-count{
  color: #A2C0D6;
  margin-left: 30px;
}

.header-right{
  height: 100%;
  padding: 10px 40px 10px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-right-button{
  border-radius: 50px;
  background: linear-gradient(to right, #1073BD,  #3BCDFE);
  box-shadow: 0px 5px 15px #1F92D4 ;
  color: white;
  font-size:1rem ;
  padding: 10px 40px ;
}

.header-right-button{
}

main{
  width: 100%;
  padding: 0px 50px;
  height: 100%;
}

.main-inner{
  display: flex;
  flex-direction: row;
  height: 500px;
}

.content-box{
  /* margin: 10px; */
  border-radius: 10px;
  box-shadow: 0px 0px 5px lightgray;
  background-color: white;
}

.main-left{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

/* 左上の時間数表示 */
.study-time-container{
  display: flex;
  flex-direction: row;
  height: 30%;
}

.study-time-card {
  width: 33.33%;
  padding: 10px;
}

.study-time-card div{
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  padding: 15px;

}

.time-span{
  color: #0F71BC;
  font-size: 0.83rem;
  font-weight: bold;
}

.study-time-figure{
  color: #111111;
  font-size: 1.94rem;
  font-weight: bold;
}

.hour{
  color: #97B9D1;
  font-size: 0.83rem;

  font-weight: bold;
}

/* 左下の棒グラフ */
.study-time-bargraph-container{
  padding: 10px;
  height: 70%;
}

.study-time-bargraph{
  padding: 10px;
  height: 100%;
}

#studyTimeBarGraph{
  height: 100%;
  width: 100%;
}

.main-right{
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
}

/* 右側の円グラフ */
.pie-chart-wrapper{
  padding: 10px;
  height: 100%;
  width: 50%;
}

.pie-chart-card{
  height: 100%;
}

.graph-title{
  padding: 20px;
  font-size: 1.1rem;
  height: 13%;
  font-weight: bold;
}

.pie-chart{
  padding: 10px;
  height: 50%;
}

.pie-chart-index{
  padding: 10px;
  height: 37%;
}

.pie-chart-legend{
  display: flex;
  flex-wrap: wrap;
}

.pie-chart-legend p{
  margin-right: 8px;
}

.legend-1 i{
  color:#3CCEFE;
}
.legend-2 i{
  color:#0F71BD;
}
.legend-3 i{
  color:#1754EF;
}
.legend-4 i{
  color:#20BDDE;
}
.legend-5 i{
  color:#B29EF3;
}
.legend-6 i{
  color:#6D46EC;
}
.legend-7 i{
  color: #4A17EF;
}
.legend-8 i{
  color: #3105C0;
}

/* メインタグの下の部分。PCは年月、SPは年月と記録・投稿ボタン */
.main-bottom{
  width: 100%;
  margin: 0 auto;
  margin-top: 2%;
  padding: 0px 5px;
  /* display: flex;
  justify-content: center; */
  position: relative;
}
/* 下の年月変更ボタン */
.change-month{
  display: flex;
  justify-content: space-around;
  width: 25%;
  height: 15px;

  position: absolute;
  left: 50%;
  transform: translate(-50%,0%);

}
.change-to-previous-month{
  color:#1575BE;
  font-weight:5000 ;
  font-weight: bold;
}
.month{
  font-weight: bold;
}
.change-to-next-month{
  color: #98B9D1;
  font-weight: bold;
}
/* スマホの時の記録・投稿ボタン */
.sp-open-record-button{
  width: 100%;
  height: 50px;
  border-radius: 50px;
  background: linear-gradient(to right, #1073BD,  #3BCDFE);
  box-shadow: 0px 5px 15px #1F92D4 ;
  color: white;
  font-size:1rem ;
  display: none;
  font-size: 1rem;
  margin-top: 10%;
  position: absolute;
}

.sp-open-record-button-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* モーダル関係の部品 */

/* 閉じるボタン */
.close-button-container{
display: flex;
justify-content: flex-end;
margin: 0px 20px;
z-index: 20;
}

.close-button{
transform: translate(0%,50%);
background-color: #F5F5F8;
border-radius: 100px;
padding:8px;
display: inline-block;
}

.batsu {
display: block;
position: relative;
width: 20px;
height: 20px;
}

.batsu::before, .batsu::after { /* 共通設定 */
content: "";
position: absolute;
top: 50%;
left: 50%;
width: 2px; /* 棒の幅（太さ） */
height: 20px; /* 棒の高さ */
background: #666666;
}

.batsu::before {
transform: translate(-50%,-50%) rotate(45deg);
}

.batsu::after {
transform: translate(-50%,-50%) rotate(-45deg);
}

/* 記録モーダルの中身に関係する部品 */
.modal-forms{
  display: flex;
  height: 430px;
}

.form-left,.form-right{
  margin: 0 20px;
  width: 410px;
  height: 100%;
}

.form-left{
  padding-left: 36px;
}

.form-right{
  padding-right: 36px;
}

.form-content{
  padding: 29px 0px 0px 0px;
}
.form-content-title{
  margin-bottom: 5px;
}

/* 記録モーダルのテキストボックス関係 */
.input-text-common{
  background-color: #F5F5F8;
  border-radius: 10px;
  width: 100%;
  padding: 15px 20px;
}

/* 記録モーダルのチェックボックス関係 */
.checkbox-wrapper{
  background-color: #F5F5F8;
  display: inline-block;
  border-radius: 20px;
  padding: 8px;
  margin: 4px;
}

/*チェックボックスのデザイン変更 参考:https://web-tsuku.life/fontawesome-checkbox-design/ */
.checkbox {
  display: none;
}
.checkbox-fontas {
  position: relative;
  vertical-align: middle;
  /* font-size: 18px; */
  font-size: 1rem;
}
.checkbox + .checkbox-fontas:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  color: #ccc;
}
.checkbox:checked + .checkbox-fontas:before {
  color: #0F71BD;
}


/* Twitterシェア関係 */
/* Twitter用コメント */
textarea{
  resize: none;
  width:374px;
  height:235px;
}

/* twitterシェアのチェックボックス */
/*シェアボタン  */
.button-to-share{
  margin-top: 10px;
}

.checkbox-twitter {
  display: none;
}
.checkbox-fontas-twitter {
  position: relative;
  vertical-align: middle;
  /* font-size: 30px; */
  font-size: 1.67rem;
}
.checkbox-twitter + .checkbox-fontas-twitter:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  color: #cccccc;
}
.checkbox-twitter:checked + .checkbox-fontas-twitter:before {
  color: #0F71BD;
}

/* 記録モーダル内の記録・投稿(提出)ボタン */
.submit-button{
  background: linear-gradient(to right, #1073BD,  #3BCDFE);
  box-shadow: 0px 5px 15px #1F92D4 ;
  border-radius: 50px;
  width: 300px;
  height: 45px;
  margin: 20px 0px;
  /* ボタンそのものの中央ぞろえ */
  left: 50%;
  transform: translate(-50%,0);
  /* 中の文字の中央揃え */
  display: inline-block;
  position: relative;
}
.submit-button p{
  color: white;
  /* font-size: 18px; */
  font-size: 1rem;
  /* 中央揃え */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


/* 提出完了モーダルの中身 */
.submit-finish-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.gj-message{
  color: #C5E174;
  /* font-size: 25px; */
  font-size: 1.39rem;
  text-align: center;
}
/* 完了のチェックマーク */
.submit-finish-checkmark{
  text-align: center;
}
.checkbox-finish {
  display: none;
}
.checkbox-fontas-finish {
  position: relative;
  vertical-align: middle;
  /* font-size: 100px; */
  font-size: 5.56rem;
}
.checkbox-finish + .checkbox-fontas-finish:before {
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  content: '\f058';
  color: #C5E174;
}
.checkbox-finish:checked + .checkbox-fontas-finish:before {
  color: #C5E174;
}

/*完了メッセージ  */
.finish-message-text{
  color: black;
  /* font-size: 20px; */
  font-size: 1.11rem;
  text-align: center;
  padding: 10px 0px;
}


/* モーダル出現時のオーバーレイ */
.overlay {
  /* 位置を固定 */
  position: fixed;
  top: 0;
  left: 0;
  /* 画面いっぱいに広がるようにする */
  width: 100%;
  height: 100vh;
  /* rgbaを使って60%の黒いオーバーレイにする */
  background: rgba(0, 0, 0, 0.6);  
  /* デフォルトでは見えないようにする */
  opacity: 0;
  visibility: hidden;
  /* 表示する際の変化の所要時間 */
  transition: .3s;
}
/* activeクラスのついたオーバーレイ */
.overlay.active {
  /* activeクラスがついたときにオーバーレイを表示する */
  opacity: 1;
  visibility: visible;
  z-index: 3;
}

/* 記録モーダル */
.modal{
  /* font-size: 15px; */
  font-size: 0.83rem;
  background-color: white;


  margin: 0 auto;
  width: 900px;
  
  
  /* border-radius: 30px; */

  border-radius: 30px 30px 30px 30px;


  /* 位置の調整(真ん中に表示) */
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);


  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  transition: .3s;
}
/* activeクラスのついた記録モーダル */
.modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

/* ローディングモーダル */
.loading-modal{
  height: 555.5px;
  position: relative;
  /* font-size: 15px; */
  font-size: 0.83rem;
  background-color: white;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 100px;  /*仮 */
  border-radius: 30px;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  /* transition: .3s; */
}
/* activeクラスのついたローディングモーダル */
.loading-modal.active{
  opacity: 1;
  visibility: visible;
  z-index: 9;
}
/* ローディングのクルクル */

.loading-content{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading-content-inner{
  width: 160px;
  height: 160px;
  transform: translate(0%,-20%);
}

.loading{
  background: linear-gradient(to right, #1073BD,  #3BCDFE);
  width:160px;
  height:160px;
  border-radius:150px;
  box-sizing:border-box;
  position:absolute;
  animation:loading 1.2s linear infinite;
  -webkit-animation:loading 1.2s linear infinite;

}


.loading3{
  width:160px;
  height:160px;
  border-radius:150px;
  border:15px solid #fff;
  border-top-color:white;
  border-bottom-color:transparent;
  border-left-color:transparent;
  border-right-color:transparent;
  box-sizing:border-box;
  position:absolute;
  animation:loading3 1.2s linear infinite;
  -webkit-animation:loading3 1.2s linear infinite;

}

.loading4{
  width: 130px;
  height: 130px;
  border-radius: 150px;
  background-color: white;
}

.loading2{
  background-color: transparent;
  width: 160px;
  height:160px;
  border-radius:160px;
  border:15px solid white;
  border-top-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  border-right-color:transparent;

  box-sizing:border-box;
  position:absolute;

}


@keyframes loading{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}

@keyframes loading3{
  0%{transform:rotate(0deg)}
  100%{transform:rotate(360deg)}
}
@-webkit-keyframes loading{
  0%{-webkit-transform:rotate(0deg)}
  100%{-webkit-transform:rotate(360deg)}
}



/* 完了モーダル */
.submit-finish-modal{
  height: 555.5px;
  position: relative;
  /* font-size: 15px; */
  font-size: 0.83rem;
  background-color: white;
  margin: 0 auto;
  width: 900px;
  margin-bottom: 100px;  /*仮 */
  border-radius: 30px;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  /* transition: .3s; */
}
/* activeクラスのついた完了モーダル */
.submit-finish-modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 6;
}

/* カレンダーモーダル */
.calender-modal{
  /* font-size: 15px; */
  font-size: 0.83rem;
  background-color: white;
  margin: 0 auto;
  width: 900px;
  height: 555.5px;
  margin-bottom: 100px;  /*仮 */
  border-radius: 30px;
  /* 位置の調整(真ん中に表示) */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* デフォルトでは非表示にしておく */
  opacity: 0;
  visibility: hidden;
  /* 表示の変化にかかる時間 */
  /* transition: .3s;   */
}
/* activeクラスのついたカレンダーモーダル */
.calender-modal.active {
  opacity: 1;
  visibility: visible;
  z-index: 6;
}
/* カレンダーモーダルの戻る（←）ボタン */
.back-button-container{
  display: flex;
  justify-content: flex-start;
  margin: 0px 20px;
}
.back-button{
transform: translate(0%,50%);
background-color: #F5F5F8;
border-radius: 100px;
padding:8px;
display: inline-block;
}

/*カレンダーモーダルの中身全体*/
.wrapper{
  padding: 50px 20px;
  max-width: 600px;
  height: 400px; /*仮*/
  margin: 0 auto;
  color: #666;
}
#clHeader {
  text-align: center;
  /* font-size: 24px; */
  font-size: 1.33rem;
  width: 100%;

  /* margin: 1rem 0 0; */
  padding: 0.5rem 2rem;
  margin: 1rem 0;


}
/*ボタン*/
#next-prev-button {
    position: relative;
    display: flex;
}

#next-prev-button button{
    cursor: pointer;
    background: white;
    color: #0F71BB;
    border: 1px solid white;
    border-radius: 4px;
    /* font-size: 1rem; */
    /* font-size: 2rem; */
    font-size: 1.33rem;

    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#next-prev-button button:hover{
    /* background-color: #D4BB92;
    border-color: #D4BB92; */
}
#prev {
    /* float: left; */
}
#next {
    /* float: right; */
}
/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
  height: 300px;
}
table {
  outline: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
  height: 80%;
}
th {
  color: #000;
  height: 20%;
}
th, td {
  outline: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

td:first-child,
td.holiday{
    color: red;
}

/*日曜日*/
/* td:first-child {
    color: red;
} */
/*土曜日*/
td:last-child {
    color: blue;
}
/*前後月の日付*/
td.disabled {
    color: #ccc;
}
/*本日*/
td.today {
    background-color: #D65E72;
    color: #fff;
}


/* カレンダモーダルの決定ボタン */
.confirm-button{
  background: linear-gradient(to right, #1073BD,  #3BCDFE);
  box-shadow: 0px 5px 15px #1F92D4 ;
  border-radius: 50px;
  width: 300px;
  height: 45px;
  margin: 20px 0px;
  left: 50%;
  transform: translate(-50%,0);
  /* 中の文字の中央揃え */
  display: inline-block;
  position: relative;
}
.confirm-button p{
  color: white;
  /* font-size: 18px; */
  font-size: 1rem;
  /* 中央揃え */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


@media screen and (max-width:850px) {
  html{
    font-size: 15px;
  }

  body{
    max-width: 1500px;
    min-width: 400px;
    /*↑仮*/
    height: 100%;
  }

  .header-right{
    display: none;
  }

  main{
    width: 100%;
    height: 80%;
    padding: 5px;
  }
  
  .main-inner{
    height: 100%;
    display: block;
  }

  .main-left{
    width: 100%;
    height: 50%;
  }

  .sp-bar{
    height: 2px;
    width: 100%;
    padding: 0px 10px 0px 10px;
  }
  .sp-bar-span{
    background: #DFE7ED;
    display: block;
    height: 2px;
    width: 100%;
  }

  .main-right{
    width: 100%;
    height: 50%;
  }

  .change-month{
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
  }

  .sp-open-record-button{
    display: block;

  }

  /* モーダルの外枠 */
  .modal{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 10%);
  }
  .loading-modal{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 10%);
  }
  .submit-finish-modal{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 10%);
  }
  .calender-modal{
    border-radius: 30px 30px 0px 0px;
    width: 100%;
    height: 90%;
    position: fixed;
    top: 0%;
    left: 0%;
    transform: translate(0%, 10%);
  }

  /* 記録モーダル */

  .modal-forms{
    display: block;
    height: 85%;
    width: 100%;
    padding: 0px 10px;
    /* transform: translateY(-5%); */
  }

  .form-left,.form-right{
    margin: 0px;
    width: 100%;
  }
  
  
  
  .form-left{
    margin: 0px;
    padding: 0;
    padding-left: 0px;
    height: 50%;
  }
  
  
  .form-right{
    height: 40%;
    padding-right: 0px;
  }

  .form-content{
    padding: 29px 0px 0px 0px;

  }
  .form-content-title{
    margin-bottom: 5px;
  }


  

  .form-study-date{
    height: 20%;
  }
  .form-study-content{
  height: 20%;
  }
  .form-study-language{
    height: 60%;
  }

  .input-text-common{
    background-color: #F5F5F8;
    border-radius: 10px;
    width: 100%;
    padding: 2% 20px;
  
  }

  textarea{
    resize: none;
    width:100%;
    height:40%;
  }
  

  .submit-button{
    width: 95%;
  

  }


  .checkbox-fontas-finish {
    font-size: 10rem;
  }
    
  .finish-message-text{
    font-size: 1.5rem;

    padding: 10px 0px;
  }

  .wrapper{
    height: 60%;
  }

  .calender{
    height: 100%;
  }
}
